{:deps    {org.clojure/clojure {:mvn/version "1.11.1"}
           com.cognitect.aws/api {:mvn/version "0.8.692"}
           com.cognitect.aws/endpoints {:mvn/version "1.1.12.676"}
           com.cognitect.aws/monitoring {:mvn/version "857.2.1574.0"}}
 :aliases {:dev  {:extra-paths ["dev"]
                  :extra-deps  {}}
           :test {:extra-paths ["test" "test-resources"]
                  :extra-deps  {}}
           :test-runner {:extra-deps {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                                 :git/sha "dfb30dd"
                                                                 :git/tag "v0.5.1"}}
                         :main-opts ["-m" "cognitect.test-runner"]
                         :exec-fn cognitect.test-runner.api/test}
           ;; Example Usage: clj -M:cljfmt <my-source-file>
           :cljfmt      {:replace-deps {cljfmt/cljfmt {:mvn/version "RELEASE"}}
                         :main-opts    ["-m" "cljfmt.main" "check"]}
           ;; Reference: https://github.com/liquidz/antq
           ;; Example Usage: clj -M:outdated
           :outdated {:extra-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
                      :main-opts ["-m" "antq.core" "--skip=github-action"]}}}
