{:deps    {org.clojure/clojure {:mvn/version "1.11.1"}
           com.cognitect.aws/api {:mvn/version "0.8.539"}
           com.cognitect.aws/endpoints {:mvn/version "1.1.12.206"}
           com.cognitect.aws/monitoring {:mvn/version "822.2.1122.0"}}
 :aliases {:dev  {:extra-paths []
                  :extra-deps  {}}
           :test {:extra-paths ["test" "test-resources"]
                  :extra-deps  {}}
           :test-runner {:extra-deps {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                                 :git/sha "b3fd0d2"
                                                                 :git/tag "v0.5.0"}}
                         :main-opts ["-m" "cognitect.test-runner"]
                         :exec-fn cognitect.test-runner.api/test
                         :exec-args {:patterns ["metron.*"]}}
           ;; Example Usage: clj -M:cljfmt <my-source-file>
           :cljfmt      {:replace-deps {cljfmt/cljfmt {:mvn/version "RELEASE"}}
                         :main-opts    ["-m" "cljfmt.main" "check"]}
           ;; Reference: https://github.com/liquidz/antq
           ;; Example Usage: clj -M:outdated
           :outdated {:extra-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
                      :main-opts ["-m" "antq.core" "--skip=github-action"]}}}
